  <div class="hero-unit">
  <h1>Welcome to I Love VQS</h1>
  <p>A travel guide fot the island of Vieques, Puerto Rico</p>
  <p><%= link_to "Sign Up", "#", class: "btn btn-primary btn-large" %></p>
  </div>
